label {
    display: block;
}

.card {
    margin-bottom: 30px;
    height: 350px;
}

.card-body {
    overflow-y: hidden;
    // height: 200px;
}

.btn-container {
    display: flex;
    padding: 15px;
}

.btn {
    margin: 5px;
    // display: inline;
    width: max-content;
}

.vue-posts {
    .card-body {
        overflow-y: auto;
    }
}

.post-img {
    max-width: 40%;

    img {
        width: 100%;
        border-radius: 5px;
    }
}